@using Bike_EShop.Application.Common.Interfaces
@inject IBagSessionService bagSession

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sam's BikeShop</title>
    <link rel="icon" href="~/images/logo/favicon.ico" type="image/png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="mb-3">
        <nav class="navbar">
            <div class="d-flex justify-content-between w-100">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-bicycle fa-3x"></i>
                </a>
                <div class="d-flex">
                    <partial name="_LoginPartial" />
                    <a class="nav-link d-flex" asp-controller="ShoppingBag" asp-action="Index">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>

                </div>
            </div>
        </nav>
        <img src="~/images/productpage/bikes_productpage_1024.jpg" alt="photo of bike shop" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Sam's Bikeshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/064c0b8681.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
