@using Microsoft.AspNetCore.Identity
@using Bike_EShop.Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown mt-3">
            <a class="font-weight-bold pointer mt-3" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                Hello @UserManager.GetUserName(User)! 
            </a>
            <i class="fas fa-sort-down"></i>
            <div class="dropdown-menu">
                <ul class="navbar-nav">
                    @*@if (User.IsInRole("Admin"))
        {*@
                    <li class="nav-item">
                        <a id="manage" asp-controller="Product" asp-action="AdminIndex" class="nav-link text-dark ml-1">Manage Products</a>
                    </li>
                    @*  }*@
                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                            <input id="logout" type="submit" value="Logout" class="btn nav-link text-dark ml-1"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <a class="font-weight-bold pointer mt-3" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
