<div class="dropdown mt-3">
    <a class="dropdown-toggle font-weight-bold pointer" role="button" id="dropdownMenuLink" data-toggle="dropdown">
        Hello User!
    </a>
    <div class="dropdown-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark ml-1" asp-action="AdminIndex">Manage Products</a>
            </li>
        </ul>
    </div>
</div>
