/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Own styles
-------------------------------------------------- */
body {
    background-color: whitesmoke;
}

.navbar {
    background-color: darkblue;
    color: lightyellow;
}

    .navbar a:visited {
        background-color: darkblue;
        color: lightyellow;
    }

header > img {
    width: 100%;
    max-height: 20vh;
}

.btn-product {
    background-color: lightyellow;
}
    .btn-product:hover {
        opacity: 0.7;
        transform: scale(1.2, 1.2);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
    }

.card {
    border-radius: 15px;
}

.pointer {
   cursor: pointer; 
}
