@model Bike_EShop.Web.Models.Home.HomeIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LandingPageLayout";
}

<div class="d-flex flex-column w-100">
    <header>
        <h1 class="text-center">Sam's Bikeshop</h1>
    </header>
    <div class="bike-img text-center">
        <bike-img random-nr="@Model.RandomNr"></bike-img>
    </div>
</div>
